
.form-select{
    width: auto!important;
    margin-bottom: 10px;
}

html, body {
    height: 100%;
    margin-bottom: 0!important;
}

/* main {
    min-height: 75%;
} */

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page-header,
.page-footer {
    flex-shrink: 0!important;
}

.page-body {
    flex-grow: 1!important;
}

/* .page-footer {
    margin-top: -90px;
} */



@media (min-width: 768px){
    .card-img-size{
    width: 30%;
    }

}

@media (min-width: 992px){
    .image-product{
        height: 300px;
        object-fit: cover;
    }
}

@media screen and (min-width: 768px) and (max-width:992px ) {
    .image-acceuil{
        object-fit: cover;
        height: 150px;
    }
}

@media screen and (min-width: 992px) and (max-width:1200px ) {
    .image-acceuil{
        object-fit: cover;
        height: 200px;
    }
}

@media screen and (min-width: 1200px) and (max-width:1400px ) {
    .image-acceuil{
        object-fit: cover;
        height: 250px;
    }
}

@media (min-width: 1400px){
    .image-acceuil{
        object-fit: cover;
        height: 300px;
    }
}

